.heartbeat {
    animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
        background-color: rgb(209 213 219 / var(--tw-bg-opacity)); /* Gray */
    }
    50% {
        transform: scale(1.1);
        background-color: red; /* Red */
    }
}

.tamagotchi-image {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto;
}